@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rajdhani:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    font-family: 'Rajdhani';
    padding: 0rem;
    background-color: rgba(19, 18, 18, 0.8);
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.square{
    background-color: black;

    width: 20px;
    height: 20px;

    box-shadow: 0 0 5px black;
    margin: 2px;

    transition: 5s ease;
}

.square:hover{
    transition-duration: 0s;
}

.container{
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}