@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
}

body{
    font-family: 'Rajdhani';
    padding: 0rem;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screen{
    background-color: rgb(77, 167, 222);
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(200%);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.screen.first h1, 
.screen.second h1{
    margin-bottom: 4rem;
}

.active{
    transform: translateY(0);
}

.screen.leave{
    transform: translateY(-100%);
}

.insect-list{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#start{
    padding: 1rem 2rem;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;

    outline: none;
    cursor: pointer;


    transition: 0.2s ease;
}

#start:hover{
    transform: scale(0.9);
    background-color: rgb(69, 68, 68);
    color: white;
}

#start:active{
    transform: scale(0.85);
}

.insect{
    width: 200px;
    height: 200px;

    border: 5px solid black;
    border-radius: 15px;

    padding: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.insect:hover{
    transform: scale(0.95);
    background-color: rgba(128, 128, 128, 0.6);
}

.insect img{
    max-height:100%; 
    max-width:100%;

    object-fit: cover;
}

/* Actual game screen */
.time, .score{
    position: absolute;
    top: 20px;

    font-size: 1.5rem;
    color: whitesmoke;

    pointer-events: none;
}

.time{
    left: 20px;
}

.score{
    right: 25px;
}

.message{
    position: absolute;
    top: 7rem;

    /* background-color: gray; */
    width: 100%;
    padding: 0.5rem 0;
    line-height: 25px;
    text-align: center;

    transform: translateY(0);
    transition: transform 0.5s ease;
}

.message::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(60, 56, 56, 0.5);

    pointer-events: none;
}

.message.hidden{
    transform: translateY(-300%);
}

/* add class active to make it visible */

.third .insect{
    width: 100px;
    height: 100px;

    position: absolute;
    border: 0;
}

.third .insect img{
    pointer-events: none;
}

.third .insect:hover{
    transform: scale(1);
    background-color: transparent;
}