@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rajdhani:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    font-family: 'Rajdhani';
    padding: 0rem;
    background-color: slateblue;
    width: 100%;
    height: 100vh;

    overflow: hidden;
/* 
    display: flex;
    justify-content: center;
    align-items: center; */
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.left-side{
    width: 33%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.right-side{
    width: 67%;
    height: 100%;
    
    position: absolute;
    top: 0;
    right: 0;
}

.left-side div{
    height: 100%;
    width: 100%;
    padding-top: 15rem;

    display: flex;
    flex-direction: column;
    position: absolute;

    justify-content: center;
    align-items: center;
    color: rgb(236, 229, 229);
    font-size: 200%;

    transform: translateY(-100%);
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.right-side div{
    height: 100%;
    width: 100%;

    position: absolute;
    
    transform: translateY(100%);
    transition: 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.buttons{
    position: absolute;
    top: 33%;
    left: 33%;

    transform: translate(-50%, -35%);
}

.buttons button{
    position: absolute;
    top: 0;
    left: 0;

    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    padding: auto;
    color: gray;

    background: white;
    cursor: pointer;

    border: 3px double black;
    border-radius: 10%;
    transition: 0.3s ease-in-out;

    outline: none;
}

button.up-btn{
    transform: translate(-100%, -150%);
    transform-origin: top right;
}

button.up-btn:hover{
    transform: translate(-100%, -150%) scale(0.8);
    color: black;
    background: rgba(128, 128, 128, 0.4);;
}

button.down-btn{
    transform-origin: top left;
}

button.down-btn:hover{
    transform: scale(0.8);
    color: black;
    background: rgba(128, 128, 128, 0.3);
}