@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rajdhani:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    font-family: 'Rajdhani';
    padding: 0rem;
    background-color: rgba(233, 150, 122, 0.719);
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.phone-container{
    height: 600px;
    width: 340px;
    padding: 50px;

    border: 3px solid black;
    border-radius: 15px;

    position: relative;
    overflow: hidden;
}

.phone-container .content{
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    height: calc(100% - 60px);
    width: 100%;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.phone-container .content.show{
    opacity: 1;
}

nav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

nav ul{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20px 20px 0 0;
    padding: 2px 5px;
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-around;

    height: 70px;
}

nav ul li{
    list-style-type: none;
    text-align: center;

    flex: 1 1 0;
    border: 2px double black;
    border-radius: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav ul li:hover{
    opacity: 0.5;
    color: rgb(197, 75, 197);
    transform: scale(0.85);
}

nav ul li.click{
    color: purple;
}