@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rajdhani:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    font-family: 'Rajdhani';
    padding: 0rem;
    background-color: darksalmon;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.65);
    overflow: hidden;

    width: 30%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.header h3{
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

.search-box{
    width: 90%;
    position: relative;
}

.header input{
    width: 100%;
    height: 35px;

    padding: 1rem;
    border-radius: 15px;
    position: relative;
    letter-spacing: 2.5px;
}

i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;

    transition: 0.2s ease-in-out;
}

i:hover{
    transform: translate(-50%, -50%) scale(0.85);
}

.user-list{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-height: 500px;
    overflow-y: auto;
}

.loading {
    width: 100%;
    border-radius: 0 !important;
    background-color: white !important; 
}

.user-list li{
    background-color: rgb(209, 143, 82);
    list-style-type: none;
    border: 2px solid rgba(0,0,0,0.6);
    box-shadow: 1px 2px 5px black;
    border-radius: 15px;
    position: relative;
    padding: 8px;

    display: flex;

    transition: background-color 0.3s ease-in;
}

.user-list li:hover{
    background-color: rgba(209, 143, 82, 0.5);
}

.user-list li:not(:last-of-type){
    border-bottom: 1.5px solid whitesmoke;
}

li img{
    border-radius: 50%;
}

.user-info{
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    text-align: center;
}

.user-info h4{
    font-size: 1.5rem;
}

.hidden{
    display: none !important;
}