@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rajdhani:wght@600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

body{
    font-family: 'Rajdhani';
    padding: 0rem;
    background-color: darksalmon;
    width: 100%;
    height: 100vh;
    gap: 1.75rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1{
    margin-bottom: 3rem;
}

.toggle-box{
    display: flex;
    align-items: center;

    width: 30%;
    background-color: slateblue;
    padding: 1rem 0;

    justify-content: center;
    gap: 1rem;
}

.toggle{
    visibility: hidden;
}

.label{
    background-color: grey;
    width: 100px;
    height: 45px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 0 10px black;

    position: relative;
}

.toggle:checked + .label{
    background-color: rgb(197, 3, 197);
}

.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 5px double black;
    box-shadow: 0 0 10px black;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle:checked + .label .ball{
    transform: translate(150%, -50%);
}