@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

.container{
    width: 50%;
    height: 40%;

    border: 1px rgba(55, 55, 55, 0.667) solid;
    background-color: rgb(58, 58, 58);
    border-radius: 50px;
    position: relative;
}

.intro{
    font-family: "Agbalumo";
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    text-align: center;
}

.info{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-evenly;

    transition: 1s fade;
}

.not-active{
    display: none;
}

.bring-down{
    top: 110%;
    transform: translate(-50%, -20%);
}

.info-slate{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.info-slate h3{
    color: pink;
}

.answer{
    flex-basis: 1;
    border: 1px solid black;
    padding: auto;
    border-radius: 20px;
    font-size: 1.25rem;
}

.info-slate .answer{
    padding: 20px 40px;
    color: pink;
    border-color: palegreen;
}

@media screen and (max-width: 700px){
    .info{
        transform: translate(-50%, -50%) scale(0.75) ;
    }    

    .intro.bring-down{
        font-size: 1rem;
    }
}